<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>This is my Register Page</h1>
<form action="submitted" method="post" >
	Name : <input type="text" placeholder="Student Name" name="name" />
	<br/><br/>
	Email : <input type="email" placeholder="Enter Email here" name="email" />
	<br/><br/>
	Password : <input type="password" placeholder="Enter password here" name="password" />
	<br/><br/>
	Course : <input type="text" placeholder="Enter Courses here" name="course" />
	<br/><br/>
	Phone Number : <input type="number" placeholder="Enter mobile number here" name="phone" />
	<br/><br/>
	<button type="submit">Submit</button>
</form>
</body>
</html>